.main-logo{
    left: 50%;
    top: 0;
    margin-left: -60px !important;
}
nav, .nav-link{
    background-color:#2B5873;
    font-family: Cabin;
}
.order-1{
    display: flex;
    padding-right: 90px;
}
.order-2{
    display: flex;
    padding-left: 90px;
}
.nav-item{
    padding-left: 50px;
    padding-right: 50px;
    font-size: larger;
}
.nav-link,
.navbar-brand {
    color: #CEAC46;
    position: relative;
    height: 50px;
    text-decoration: none;
}

@media (max-width: 1000px){ /* Mobile View*/
.navbar-nav{
    padding: 0 !important;
}
.navbar-collapse{
    margin-top: 120px;
    color: #131A23;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.navbar-toggler{
    background-color: #97C1DD;
    display: flex;
    margin: 10px;
    position: absolute;
    top: 20px;
    right: -150px;
}
.navbar-nav{
    width: 100%;
    padding: 0 !important;
}
.justify-content-end, .justify-content-start{
    padding: 0 !important;
}
}
.nav-link::after {
  /* Animated underline for Nav links */
  content: "";
  position: absolute;
  bottom: 2px;
  left: 50%;
  width: 0%;
  height: 2px;
  transform: translateX(-50%);
  transition:
    width,
    0.3s ease;
  background-color: #97C1DD;
}
.nav-link:hover::after, .nav-link:hover {
  /* Underline to expand for Nav link + Nav text on Hover*/
  width: 100%;
  color: #948AAD;
  font-weight: bolder;
}
body{
    background-color: #97C1DD;
    font-family: Boldonse;
}
p{
    font-family: Cabin;
    font-weight: 450;
    font-size: larger;
}
h4, h3{
    color: #453265;
    padding-bottom: 15px;
    text-shadow: 3px 5px 3px #8298A9;
}
#ourMission{
    color: #131A23;
    background-color: #948AAD;
    box-shadow: 3px 10px 3px #8298A9;
    padding: 40px;
    margin-top: 25px;
    margin-bottom: 50px;
    border-radius: 10px;
}
#eventList{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.listBackground {
    max-width: max-content;
    width: 100%;
    max-height: max-content;
    width: 100%;
    background-image: 
    url(background-DICE.png);
    background-size: contain;
    background-repeat: repeat-y;
    background-position: center;
}
.cardEvent{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 305px;
    height: 520px;
    margin: 40px 20px;
    border-radius: 25px;
    border: 12px solid transparent;
    background-image:
    linear-gradient(#fff, #fff),
    linear-gradient(to bottom, #a9aaab, #dbddde, rgba(118, 119, 120, 0.7));
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: padding-box, border-box;
}
.imageType img, .imageIcon img{
    width: 25px;
    height: 25px;
    object-fit: contain;
    border-radius: 20px;
    background-color: #DFB869;
}
.top-Card, .bottom-Card{
    background-color: #ACA0C9;
    padding: 10px;
}
.top-Card{
    min-height: 50px;
    display: flex;
    justify-content:space-between;
    align-content: space-evenly;
}
.middlePhoto{
    width: 10px;
    height: 150px;
}
.eventDate{
    padding: 10px;
    min-height: 50px;
    background-color: #4B386F;
    color: #CEAC46;
    font-size: 12px;
}
.bottom-Card{ /* FIX height: 250px; */
    padding: 10px;
    flex-grow: 1; /* Allows to expand */
}
.contact, .eventDetails, .location{
    padding-bottom: 10px;
}
.location{
    font-size: 14px;
}
.contact{
    font-size: 12px;
}
.eventDetails{
    font-size: 14px;
    overflow: hidden; 
}
.prizeCard, .feeCard{
    border-radius: 50px;
    background-color: #AECBDE;
    color: #1e5d87;
    width: 100px;
    height: 65px;
    padding: 3px;
    font-size: 11px;
}
.pillSection{
    margin-top: auto;
    display: flex;
    justify-content:space-between;
    align-content: space-evenly;
}
.cardList{
    padding-top: 40px;
    padding-bottom: 40px;
}
.nameOverlay{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.cardList:hover .nameOverlay{
    opacity: 1;
}
#modalBodyContent .cardEvent{
    margin-left: 25%;
    width: 305px;
    box-shadow: 0 4px 15px rgba(0,0,0,5);
}
.modal-content{
    background-color: transparent !important;
}
footer{
    max-width: 100%;
    background-color: #131A23;
    color: #948AAD;
    padding: 20px;
    padding-top: 35px;
}
.exploreList{
    font-family:  Boldonse;
    color: #948AAD;
    list-style: none;
}
.exploreLink{
    font-size: 18px;
    color: #948AAD;
    font-family: cabin;
    font-weight: 500;
    text-decoration: none;
    text-align:justify;
}
.exploreLink:hover{
    color: #CEAC46;
    font-family: cabin;
    font-weight: bolder;
    text-decoration:underline;
}